<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<target xsi:type="File" name="myLayoutToFile" fileName="../../../Logs/All.log" keepFileOpen="true" concurrentWrites="true"
				layout="time=${longdate} | level=${level:uppercase=true} | func=${callsite:methodName=True} | file=${callsite-filename:includeSourcePath=True}:${callsite-linenumber} | msg=${message}" />
		<target xsi:type="Console" name="myLayoutToConsole"
				layout="time=${longdate} | level=${level:uppercase=true} | func=${callsite:methodName=True} | file=${callsite-filename:includeSourcePath=True}:${callsite-linenumber} | msg=${message}" />
		<target xsi:type="File" name="onlyMessageToFile" fileName="../../../Logs/All.log" keepFileOpen="true" concurrentWrites="true"
				layout="${message}" />
		<target xsi:type="Console" name="onlyMessageToConsole"
				layout="${message}" />
		<target xsi:type="File" name="startupMessagesToFile" fileName="../../../Logs/All.log" keepFileOpen="true" concurrentWrites="true"
				layout="time=${longdate} | level=${level:uppercase=true} | msg=${message}"/>
		<target xsi:type="Console" name="startupMessagesToConsole" fileName="../../../Logs/All.log" keepFileOpen="true" concurrentWrites="true"
				layout="time=${longdate} | level=${level:uppercase=true} | msg=${message}"/>
		<target xsi:type="File" name="aspNetFile" fileName="../../../Logs/All.log" keepFileOpen="true" concurrentWrites="true"
				layout="time=${longdate} | level=${level:uppercase=true} | func=${aspnet-mvc-action} | url=${aspnet-request-url} | msg=${replace:inner=${message}:regex=true:searchFor=(\r\n|\r|\n):replaceWith=\n    "/>
		<target xsi:type="Console" name="aspNetConsole"
				layout="time=${longdate} | level=${level:uppercase=true} | func=${aspnet-mvc-action} | url=${aspnet-request-url} | msg=${replace:inner=${message}:regex=true:searchFor=(\r\n|\r|\n):replaceWith=\n    "/>
	</targets>
	<rules>
		<logger name="OnlyMessage" minlevel="Trace" writeTo="onlyMessageToConsole, onlyMessageToFile"/>
		<logger name="CrudApplication.*" minlevel="Trace" writeTo="myLayoutToFile, myLayoutToConsole"/>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="startupMessagesToFile, startupMessagesToConsole"  />
		<logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Trace" writeTo="aspNetFile, aspNetConsole"/>
	</rules>
</nlog>